//#root{
//  height: 100 vh;
//}
//#main-app {
//  height: 100 vh;
//  background-image: url("scss/image/background-image.png");
//}
.app-bar {
  color: #000000;
}
.zoom-hover:hover{
  transform: scale(1.1);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
  transition: background-color 5000s ease-in-out 0s;
}
